@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --base-color: 240;
    --bg-main: white;
    --bg-controls: hsl(var(--base-color), 6%, 21%);
    --fg-timer: #323238;
    --bg-themes-button: #E1E1E6;
    --bg-themes-button-hover: #c1c1c6; 
    --bg-themes-button-selected: #02799D;
    --fg-themes-button: #323238;
    --fg-themes-button-selected: white;
    ;

    font-size: 62.5%;
}

body {
    display: grid;

    background: var(--bg-main);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
}

.timer_container {
    justify-self: center;
    align-self: center;
}

.timer_container .timer span{
    font-size: 12.6rem;
    align-items: center;
    
    color: var(--fg-timer);
}

.timer_container .timer_controls {
    display: flex;
    justify-content:space-between;
}


.themes_container {
    display: grid;
    grid-template-areas: "A B" "C D";
    gap: 3.2rem;
}

.button, button{
    cursor: pointer;
    border: none;
}

.forest,
.rain,
.coffee,
.fireplace {
    width: 13.8rem;
    height: 15.2rem;
    padding: 2.4rem 4.7rem;
    
    background: var(--bg-themes-button);
    border-radius: 2.4rem;
    position: relative;
}

button svg path {
    fill: var(--bg-controls);
}

button:hover input[type="range"]::-webkit-slider-thumb,
button:hover input[type="range"]::-webkit-slider-runnable-track,
button:hover svg path {
    fill: var(--bg-main);
    background: var(--bg-main);
}

button:hover {
    background: var(--bg-themes-button-hover);
}

.volumeControl{
    position: absolute;
    left: 2.4rem;
    bottom: 2.4rem;
    width: 9rem;
    cursor: pointer;
}

input[type="range"],
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border-radius: 50px;
    height: .4rem;
}

input[type="range"]::-webkit-slider-thumb {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -0.6rem;
}

.hide {
    display: none;
}

.selected {
    background: var(--bg-themes-button-selected);
}

.selected svg path,
.selected input[type="range"]::-webkit-slider-thumb,
.selected input[type="range"]::-webkit-slider-runnable-track {
    fill: var(--fg-themes-button-selected);
    background: var(--bg-main);
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-runnable-track {
    fill: var(--fg-themes-button);
    background: var(--fg-themes-button);
}