@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 62.5%;

    --bg-main: #000000;
    --bg-secondary: #FFFFFF;
    --fg-main: #FFFFFF;
    --fg-secondary: #02799D;
}

body {
    background-color: var(--bg-main);
    color: var(--fg-main);
}

nav {
    display: flex;
    position: absolute;
    justify-content: start;
    padding: 4rem 7.2rem;
}

#logo {
    width: 5rem;
    height: 4.2rem;
    margin-right: 3.2rem;    
}

nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home, .o-universo, .exploracao, .error404 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    padding: 0;
}

.home {
    background-image: url('../img/mountains-universe-1.png');
}

.o-universo {
    background-image: url('../img/mountains-universe-2.png');
}

.exploracao {
    background-image: url('../img/mountains-universe-3.png');
}

.error404 {
    background-image: url('../img/lost-in-universe-4.jpg');
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
    width: 64.8rem;
}

ul {
    display: flex;
    font-size: 2.4rem;
    gap: 3.2rem;
    list-style: none; 
}

ul li a {
    text-decoration: none;
    color: var(--fg-main);
}

ul li .active {
    font-weight: 700;
}

main {
    display: flex;
}

main #content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 29.4rem;
    align-items: center;
}

#content, h2 {
    font-size: 4.8rem;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 10rem;
}

#content p {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin: 0 auto;
}

#content button {
    width: 19.5rem;
    height: 4.8rem;
    margin-top: 2.4rem;
    background: none;
    color: var(--fg-main);
    border: .2rem solid var(--fg-main);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

#content button:hover {
    background: var(--bg-secondary);
    color: var(--fg-secondary);
}
