* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header, footer{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	color: white;
}

footer {
	height: 10vh;
	background-color: black;
}

header {
	height: 30vh;
	color: black;
	font-size: 20px;
	gap: 20px;
	padding: 20px;
	transition: .8s;
}

header p {
	align-items: flex-end;
}

.content {
	display: flex;
	align-items: flex-end;
	font-size: 30px;
	background-image: url(../img/night_sky.jpg),
	linear-gradient(
		180deg, 
		rgb(0, 0, 0) 0%,
		rgb(0, 0, 0) 40%,
		rgb(101, 176, 241)
		);	
	color: white;
	background-repeat: no-repeat;
	background-size: contain; 
}

.content ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-left: 25px;
	margin-bottom: 50px;
	width: 500px;
	height: 380px;
	font-size: 20px;
	list-style: none;
	transition: .8s;
	font-family: monospace;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.15);
}

.content ul li:last-child {
	background-color: unset;
}

.content ul li div {
	width: 100%;
	padding: 10px 10px 0 10px;
}

.content ul li p {
	text-align: center;
	width: 480px;
}

.content ul li p img {
	width: 200px;
	position: relative;
	bottom: 20px;
	left: -200px;
}

.content span {
	display: flex;
	flex-direction: column;
	width: 380px;
	font-size: 14px;
}

#sub_text {
	padding: 20px 0;
}

.thumbnail {
	width: 300px;
	margin-top: 20px;
	border-radius: 5px;
	transition: .8s;
}

a {
	text-decoration: none;
	color: white;
}

#foguete {
	font-size: 200px;
}

.foguete {
	position: fixed;
	bottom: 130px;
	left: 65%;
	transition: .8s;
}
.foguete img {
	height: 450px;
}

@media (max-width: 480px) /* pequeno */
{
	header {
		font-size: 12px;
		gap: 10px;
		padding: 10px;
	}

	.content ul li {
		margin-left: 10px;
		margin-bottom: 50px;
		height: 400px;
		width: 200px;
		font-size: 16px;
	}

	.content ul li p {
		width: 190px;
	}

	.content ul li p img {
		bottom: -50px;
		left: 0;
	}

	.content ul li span {
		width: 190px;
	}

	.thumbnail {
		width: 180px;
		height: auto;
	}

	.foguete {
		position: fixed;
		bottom: 130px;
		left: 230px;
	}
}

@media (min-width: 800px) /* grande */
{
	header {
		font-size: 25px;
		gap: 35px;
		padding: 35px;
	}

	.content ul li {
		margin: 150px 40px;
		font-size: 30px;
		height: 400px;
	}

	.content ul li p img {
		bottom: -200px;
		left: -150px;
	}

	.thumbnail {
		width: 360px;
	}

	.foguete {
		position: fixed;
		bottom: 130px;
		left: 600px;
	}
}
