* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --base-color: 192;
    --bg-main: #121214;
    --bg-controls-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --bg-controls: hsl(var(--base-color), 100%, 63%);
    --fg-timer: white;

    font-size: 62.5%;
}

body {
    background: var(--bg-main);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    place-items: center;
}

.timer {
    font-weight: 700;
    font-size: 8.8rem;
    line-height: 10.3rem;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--fg-timer);

    display: flex;
    margin-top: 24.6rem;
}

.timer_controls {
    
    width: 22.8rem;
    height: 10.8rem;
    
    
    background: var(--bg-controls-light);
    border-radius: 50rem;
    
    display: flex;
    flex-direction: row;
    padding: 2.2rem 4rem;
    gap: 3.2rem;

}

.button_play,
.button_pause,
.button_stop,
.button_reset,
.mute_unmute {
    cursor: pointer;
}

.button_play svg path,
.button_pause svg path,
.button_unmute svg path{
    fill: var(--bg-controls);
}

.mute_unmute {
    position: absolute;
    right: 4.0rem;
    bottom: 3.2rem;
}

.hide {
    display: none;
}